<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkopener" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LinkOpenerActivity"
            android:theme="@style/TransparentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.browsable" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.link" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.browsable" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.link" />
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.link" />
            </intent-filter>
        </activity>
    </application>

</manifest>
